<!DOCTYPE html>

<div data-field="nameform" class="row inputs">
	<div class="span8 cols offset2">
		<form class="form-horizontal">
			<fieldset>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="name">Name</label>
					<div class="col-md-5">
						<input id="name" name="name" type="text" placeholder="Joe Bloggs" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="email">Email</label>
					<div class="col-md-5">
						<input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control input-md" required="">
					</div>
				</div>

				<!-- Checkbox -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="checkboxes"></label>
					<div class="col-md-4">
						<div class="checkbox">
							<label for="checkboxes-0"> <input type="checkbox" name="checkboxes" id="toggle" value="true"> Include Address
							</label>
						</div>
					</div>
				</div>

				<!-- Text input-->
				<div id="addressdiv" class="form-group">
					<label class="col-md-4 control-label" for="address">Address</label>
					<div class="col-md-5">
						<input id="address" name="address" type="text" placeholder="27 London Road, London, UK" class="form-control input-md">
					</div>
				</div>
				
				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="submit"></label>
				  <div class="col-md-4">
				    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
				  </div>
				</div>

			</fieldset>
		</form>
	</div>
</div>
